h1 {
  margin-bottom: 0.5rem;
}

h3 {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.icon {
  max-width: 3rem;
}

.puppy-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 6rem;
}

.puppy-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #0f0f0f;
  box-shadow: 0 1px 10px -2 rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: all 0.2s ease;
}

.listed {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #0f0f0f;
  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 1);
  text-align: center;
  min-width: 18rem;
  max-width: 17vw;
}

.listed:hover {
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 1);
  transform: translateY(-7px);
}

.plus {
  margin: 6rem;
}

.plus:hover {
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 1);
  transform: translateY(-5px);
}

.puppy-image {
  margin-top: 1rem;
  border-radius: 1rem;
  min-width: 16rem;
  max-height: 60vh;
}

.dog-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.center {
  text-align: center;
}

.spacer {
  min-height: 0.5rem;
}

nav {
  margin-top: 1rem;
}
